@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* regole generiche di pagina */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole header intestazione */

body {
  font-style: 'Roboto', sans-serif;
}

header nav img {
  vertical-align: middle;
  padding-right:20px;
}

header {
  background-color: #1f3d7a;
  background-image: url(../img/background-header.png);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 400px;
  position: relative;
  font-size: 15px;
  color: white;
}

nav {
  display: inline-block;
  height: 10%;
  margin: 20px 0 0 5%;
}

nav ul {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
}

nav ul li {
  display: inline-block;
  padding: 5px;
}

nav ul li a , nav ul li a:visited , .right-side a{
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  text-shadow: 2px 1px black;
  font-weight: bold;
}

nav.right-side {
  line-height: 40px;
  position: absolute;
  right: 30px;

}

button {
  padding: 10px 10px;
  border-radius: 10px;
  color: white;
  text-shadow: 1px 1px black;
}

button.login {
  background-color: rgba(00, 33, 33, 0);
}

button.cta {
background-color: rgba(102, 255, 51, 0.75);
}

/* regole main corpo centrale */

main {
  height: 700px;
}
 /* regole banner */

.banner {
  height: 10%;
  background-color: #ccc;
}

 h3 , p {
   text-align: center;
 }

.banner div {
  padding-top: 10px;
}

/* regole row */


.row {
  margin: 20px 5%;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

.cell {
  float: left;
  margin: 20px ;
  width: 30%;
  text-align: center;
}
.cell img{
  width:auto;
  height: 150px;;
}
 
.underline {
  margin: 10px;
  color: lightgrey;
}

.cell h4 {
  font-size: 20px;
  color: #00e600;
}

.cell p {
  color: grey;
}
/* regole footer */
footer {
  margin-top: 40px;
  /*  debug */
    height: 120px;
    background-color: grey;
}
