@@import "";

/* regole generiche di pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole header intestazione */

body {
  font-style: 'Roboto' sans-serif;
}

header {
  background-color: #1f3d7a;
  background-image: url(../img/background-header.png);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 400px;
  position: relative;
  font-size: 20px;
  color: white;
}

nav {
  display: inline-block;
  height: 10%;
  margin: 20px 0 0 10%;
}

nav ul {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
}

nav ul li {
  display: inline-block;
}

nav ul li a , nav ul li a:visited , .right-side a{
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  text-shadow: 2px 1px black;
}

nav.right-side {

  line-height: 65px;
  position: absolute;
  right: 30px;

}

button {
  padding: 10px 10px;
  border-radius: 10px;
  color: white;
  text-shadow: 1px 1px black;
}

button.login {
  background-color: rgba(00, 33, 33, 0);
}

button.cta {
background-color: rgba(102, 255, 51, 0.75);
}

/* regole main corpo centrale */

main {
  /* debug */
  height: 700px;
  background-color: green;
}

.banner {
  margin: 20px 0;
  /* debug */
  height: 100px;
  background-color: blue;
}

.row {
  margin: 20px 5%;
  /* debug */
  height: 250px;
  background-color: lightblue;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

.cell {
  float: left;
  margin: 20px;
  width: 30%;
  /* debug */
  height: 180px;
  background-color: purple;
}

/* regole footer */
footer {
  margin-top: 40px;
  /*  debug */
    height: 120px;
    background-color: red;
}
